In [ ]:
from datetime import date
print("Today's date is: "+ str(date.today()))

In [ ]:
parsec = 11
lightyears = 0

lightyears= 3.26156 * 11

print(str(parsec) + " parsec, is " + str(lightyears) + " lightyears")

In [ ]:
import ipywidgets as widgets

ignition = widgets.ToggleButton(
    value=False,
    description='Iniciar Launch',
    button_style='success',
    tooltip='Engage your Launch',
    icon='rocket'
)

output = widgets.Output()

display(ignition, output)

def on_value_change(change):
    with output:
        if change['new'] == True:
            print("Nave Iniciada!")
        else:   
            print("Nave Detenida")

ignition.observe(on_value_change, names='value')

In [ ]:
%pip install matplotlib
%pip install numpy

# Manual de la llave

## Niveles de Oxígeno

Muestra diez minutos de niveles de oxígeno en tu nave.

In [ ]:
    import numpy as np
    import matplotlib.pyplot as plt
    data = np.random.default_rng(12345)
    oxy_nums = data.integers(low=0, high=10, size=10)

    plt.bar(range(len(oxy_nums)), oxy_nums)
    plt.show()

# Kata3

In [ ]:

velocidad = 45


if velocidad>25:
    print('Un asteroide se acerca a la Tierra')
else:
    print('Todo en orden')

In [ ]:
velocidad = 19
if velocidad>20:
    print('Es posible ver un rayo de luz')
else:
    print('Todo en orden')

In [ ]:
dimesion = 19
velocidad = 6

if dimesion > 25 and velocidad > 25:
    print('El asteroide podria entrar a la atmosfera de la tierra')
elif velocidad >=20:
    print('Es posible ver un rayo de luz')
else:
    print('Todo normal')

# Cadenas

In [ ]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
oraciones = text.split(". ")

for oracion in oraciones:
 if  ("temperature" in oracion) or ("distance" in oracion) or ("average" in oracion):
     print(oracion.replace('C','Celsius'))

In [ ]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"
titulo = "The gravity on {0}".format(planet).title()
multilineas= """Planet name: {0} 
Gravity on the {1}: {2} ms""".format(planet,name,gravity*1000)
plantilla = """{0}
{1}""".format(titulo,multilineas)
print(plantilla)

# Operadores

In [ ]:
#Variables
tierra = 149597870
jupiter = 778547200
milla = 0.621

# Calcular la distancia entre planetas

distancia = (jupiter -tierra)

print('La distancia es {0}  KM '.format(distancia))
print('La distancia es {0}  millas '.format(distancia*milla))

In [ ]:
#Ejercicio 2

# Almacenar las entradas del usuario

planeta1 = input("Nombre del planeta: ")
distancia1 = input("Distancia a sol de {0}:".format(planeta1))
print("Planeta : {0} \nDistancia : {1}".format(planeta1,distancia1))

planeta2 = input("Nombre del planeta: ")
distancia2 = input("Distancia a sol de {0}:".format(planeta2))
print("Planeta : {0} \nDistancia : {1}".format(planeta2,distancia2))

d1 =int(distancia1)
d2= int(distancia2)

print("La distancia entre los dos planetas es: \n {0} km \n {0} millas".format(abs(d2-d1),abs((d2-d1)*0.621)))

# Introducción listas

In [ ]:
# Creamos la lista planets y la mostramos
planetas = ['MERCURIO', 'VENUS','TIERRA','MARTE','JUPITER','SATURNO','URANO','NEPTUNO']
print(planetas)
planetas.append('PLUTON')
print(planetas[-1])

In [ ]:
# Lista de planetas
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Neptune']

# Solicitamos el nombre de un planeta *Pista:  input()*
planet = input('Escriba el nombre de un planta empezando, la primer letra debe ser mayuscula')

# Busca el planeta en la lista
posicion = planets.index(planet)

# Muestra los planetas más cercanos al sol
print('Los planetas mas cercanos al sol son: {0}'.format(planets[0:posicion]))

# Muestra los planetas más lejanos al sol
print('Los planetas mas alejados son : {0}'.format(planets[posicion+1:len(planets)]))

# Estructuras de control

In [ ]:
# Declara dos variables
new_planet = ''
nplanets = []

while new_planet != 'done':
    if new_planet:
        nplanets.append(new_planet)
    new_planet = input('Escriba un nuevo planeta o escriba "done" para terminar:')

# Escribe tu ciclo for para iterar en una lista de planetas
print('Listado de planetas')
for item in nplanets:
    print([item])

# Administrar datos con diccionarios

In [ ]:
# Crea un diccionario llamado planet con los datos propuestos

planeta_d ={
    'name': "Mars",
    'moons': 2
}

# Muestra el nombre del planeta y el número de lunas que tiene.
print(f"Planeta : {planeta_d['name']} \nLunas : {planeta_d['moons']}")

# Agrega la clave circunferencia con los datos proporcionados previamente
planeta_d.update(circunferencia={
    'polar':6752,
    'equatorial':6792
})

print(f"La circunferencia polar de {planeta_d['name']} es de: {planeta_d['circunferencia']['polar']}")

In [ ]:
# Planets and moons

planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

# Añade el código para determinar el número de lunas.
num_planets=0
num_planets= len(planet_moons)

# Agrega el código para contar el número de lunas. 
total_moons=0
for value in planet_moons.values():
    total_moons = value+total_moons

print(f'Promedio : {total_moons/num_planets}')

# Uso de funciones en Python

In [ ]:
# Función para leer 3 tanques de combustible y muestre el promedio
def promedio(*argm):
    prom = sum(argm)/len(argm)
    return prom

def combustible(tank1,tank2,tank3):

     return print(f'El promedio de combustible es: {promedio(tank1,tank2,tank3)}')

# Llamamos a la función que genera el reporte print(funcion(tanque1, tanque2, tanque3))
combustible(10,20,30)

In [16]:
# Función con un informe preciso de la misión. Considera hora de prelanzamiento, tiempo de vuelo, destino, tanque externo y tanque interno

from datetime import datetime, timedelta
def informe(hora,tiempo,destino,externo,interno):
    t1 = datetime.strptime(hora,"%H:%M")
    t2 = datetime.strptime(tiempo,"%H:%M")
    salida = t1+timedelta(hours=t2.hour,minutes=t2.minute)
    return print(f""" Informe de misión a {destino}
    Lanzamiento: {hora}
    Llegada: {salida.strftime("%H:%M")}
    Combustible: {externo+interno} litros
    """"")

informe("13:00","00:20","Moon",50,500)

 Informe de misión a Moon
    Lanzamiento: 13:00
    Llegada: 13:20
    Combustible: 550

In [5]:
from datetime import datetime, timedelta
def informe(destino,*tiempo,**tanques):
    mensaje = f""" Informe de misión a {destino}
    Tiempo de viaje : {sum(tiempo)}
    Combustible: {sum(tanques.values())}
    """""
    for tank,fuel in tanques.items():
        mensaje += f"{tank}: {fuel} litros \n"
    return mensaje

informe("Erath",50,47,1,Tanque1 = 600,Tanque2 = 400)

' Informe de misión a Erath\n    Tiempo de viaje : 98\n    Combustible: 1000\n    Tanque1: 600 litros \nTanque2: 400 litros \n'

# Manejo de errores

In [62]:
def water_left(astronauts, water_left, days_left):
    for argument in [astronauts, water_left, days_left]:
        try:
            # If argument is an int, the following operation will work
            argument / 10
        except TypeError:
            # TypError will be raised only if it isn't the right type 
            # Raise the same exception but with a better error message
            raise TypeError(f"All arguments must be of type int, but received: '{argument}'")
    daily_usage = astronauts * 11
    total_usage = daily_usage * days_left
    total_water_left = water_left - total_usage
    if total_water_left < 0:
        raise RuntimeError(f"There is not enough water for {astronauts} astronauts after {days_left} days!")
    return f"Total water left after {days_left} days is: {total_water_left} liters"


water_left("3","200",None)

TypeError: All arguments must be of type int, but received: '3'